<h1>RAMON'S SCRAPED NEWS</h1>
    <button id="scrape">Scrape Articles</button>
    <div id="wrapper">
      <h2>NPR News</h2>
      <div id="articles"></div>
      <div id="notes"></div>
      <div id="saved"></div>
    </div>
