body { 
  background-color: rgba(33, 108, 179, 0.308) 
}
h1{
  width: 100%;
  position: relative;
  margin: 20px 0;
  text-align: center;
}
#wrapper {
  width: 90%;
  top:40px;
  margin-left: auto;
  margin-right: auto;
}
#articles {
  display: inline-block;
  position: relative;
  overflow: auto;
  width: 50%;
  height: 700px;
}
p{
  border: 1px solid black;
  padding: 5px;
  overflow: hidden;
}
#notes {
  float: right;
  width: 30%;
}
#createnote{
  position: relative;
  display: block;
  margin: auto;
}
textarea, input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}
@media screen and (max-width: 575px){
  h2{
    left: 0;
  }
  #articles{
    width:50%;
    left: 0;
  }
  #notes{
    width: 50%;
  }
}